@import "tailwindcss";

@theme {
  --color-cero-bg: #02111c;
  --color-cero-panel: #0a2233;
  --color-cero-lime: #ffffff;
  --color-cero-lime-hover: #e2e8f0;
  --color-cero-text-muted: #82a5c0;
  --color-cero-border: #143d59;
}

body {
  @apply bg-cero-bg text-gray-100;
}
